a.degree {
    display: block;
    text-align: center;
    top: 40px;
    position: absolute;
    font-size: 22px;
    background-color: transparent;
    color: #efefef;
    border: none;
    overflow: hidden;
    width: 28px;
    height: 32px;

    &.off {
        opacity: 0.6;
    }
}
#degree-c {
    right: 65px;
}
#degree-f {
    right: 35px;
}